In [1]:
#Import librareies
import pandas as pd
import numpy as np
import re

In [2]:
#Create new list 
liste = ["Tugay Yolu Cad. No:60 12537489122 Maltepe",
         "İnkılap Mah. 88372637771 Küçüksu Cd. No 6 Ümraniye",
         "11293888122 Soğanlık Mah. Muş Sk. No 63 Kartal",
         "Bilezikçi sk 147 Şişli İstanbul 12229386"]

In [3]:
#Convert to dataframe
df = pd.DataFrame(liste, columns = ["Veri"])
df

                                                Veri
0          Tugay Yolu Cad. No:60 12537489122 Maltepe
1  İnkılap Mah. 88372637771 Küçüksu Cd. No 6 Ümra...
2     11293888122 Soğanlık Mah. Muş Sk. No 63 Kartal
3           Bilezikçi sk 147 Şişli İstanbul 12229386

In [4]:
#Create new def for separate adresses and identity number
def query(txt):
    new_result = re.findall('[0-9]+', txt)
    boo = False
    for i in new_result:
        if len(str(i)) == 11:
            txt = txt.replace(i,"")
            print(i + "\n" + txt)
            boo = True
    if boo == False:
        print("TC Kimlik bilgisi mevcut değil" + "\n" + txt)

In [5]:
#Look def 
query(df["Veri"][1])

88372637771
İnkılap Mah.  Küçüksu Cd. No 6 Ümraniye